/*Styles par défaut*/
header {
    width:100vw;
}
header h1 {
    font-size:2.5rem;
    text-decoration:underline;
    display:inline-block;
}
section {
    width:80vw;
    box-shadow:-1rem 1rem black;
    margin-left:10vw;
    margin-bottom:2rem;
    border:0.25rem black solid;
    padding-left:1rem;
    padding-right:1rem;
}

section h1 {
    text-decoration:underline;
    margin-left:1.5rem
}
section ol {
    margin:1.5rem;
}
.cercle {
    position:relative;
    top:1rem;
    width:1rem;
    height:1rem;
    background:#000;
    border-radius:50%;
    margin-right:1rem;
}
header button:hover {
    animation: 0.5s linear 0s 1 weee;
}
@keyframes weee {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
#btnNav {
    position:absolute;
    right:1rem;
    top:1rem;
    background:#000;
    border:none;
    padding:5px;
    cursor:pointer;
}
.navi_grand {
    padding-left:1.5em;
    padding-right:1.5em;
    padding-top:1em;
    padding-bottom:1em;
    cursor:pointer;
    color:#FFF;
    display:none;
    height:3rem;
    position:fixed;
    top:1vh;
    right:1.5vw;
    padding: 1em 1.5em;
    background:#888;
}
.navi_grand ul {
    display:flex;
    align-items: stretch;
    justify-content:space-between;
}
.navi_grand li {
    float:left;
    list-style:none;
    border-left:1px #0a1128 solid;
}
.navi_grand a {
    color:#fff;
    padding:0 1rem;
}
/* Toute la hauteur pour rester centré */
.navi_grand ul, .navi_grand li, {
    height:100%;
}
