/* Annuler l'espacement prédéfinit */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background:white;
}
h2, h3 {
    font-family:'Lato', sans-serif;
}
h1, p {
    font-family:'Merriweather', serif;
}
h1 {
    font-size:3rem;
    font-weight:700;
    text-decoration:underline;
}
h2 {
    padding-left:1.25em;
    padding-right:0;
    margin-right:0;
}
h3 {
    font-size:0.75em;
}
p {
    margin-top:2em;
    font-size:1rem;
}
a {
    text-decoration:none;
    color:white;
}
#couverture {
    font-size:1rem;
    /* Arrière-plan en gradient linéaire, gris -> noir -> gris */
    background:linear-gradient(90deg,
    rgba(50,50,50,1) 0%,
    rgba(30,30,30,1) 30%,
    rgba(10,10,10,1) 45%,
    rgba(0,0,0,1) 60%,
    rgba(10,10,10,1) 65%,
    rgba(30,30,30,1) 70%,
    rgba(50,50,50,1) 100%);
    height:96vh;
    color:white;
    padding:5vh;
    margin:1vw;
    margin-top:1vh;
    margin-bottom:1vh;
    border:black 1rem solid;
    position:relative;
}
.navi_index {
    position:absolute;
    right:0vw;
    top:1vh;
    background:#888;
    padding: 1em 1.5em;
    cursor:pointer;
}
.navi_index_grand {
    display:none;
    height:3rem;
    position:absolute;
    top:1vh;
    padding: 1em 1.5em;
    background:#888;
}
.navi_index_grand ul {
    display:flex;
    align-items: stretch;
    justify-content:space-between;
    width:100%
}
.navi_index_grand li {
    float:left;
    list-style:none;
    border-left:1px #0a1128 solid;
}
.navi_index_grand a {
    padding:0 0.75rem;
}
/* Toute la hauteur pour rester centré */
.navi_index_grand ul, .navi_index_grand li, {
    height:100%;
}
img {
    /* Mettre une jolie bordure à l'image */
    background-image:url('gears.gif');
    background-clip:border-box;

    /* Espacement de l'image */
    padding:1rem;
    margin: 0 1rem 1rem;

    /* Dimensions maximale de l'image */
    max-width:30vw;
    max-height:40vh;
}
.imgflex {
    display:flex;
    margin-top:3em;
    width:90vw;
}
/* Style pour le pied de la page */
.bas2page {
    background:#333333;
    color:#FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:3rem;
}
.bas2page ul {
    list-style-type: none;
    margin:0 auto;
}
.bas2page li {
    float:left;
    margin-left:5vw;
}
/* Lien vers GitHub */
#github_chat {
    position:relative;
    display:block;
}
#github_chat::after {
    content:'';
    position:absolute;
    top:-0.5rem;
    left:3rem;
    width:32px;
    height:32px;
    background:url('github.png') no-repeat bottom;
}

/* Lorsque l'écran devient plus que 50em * 16px/em = 800px de large, on réajuste */
@media only screen and (max-width:50em) {
    :root {
        font-size:12px;
    }
    .page {
        height:120vh;
        padding:0;
    }
    .imgflex {
        margin:0;
        padding:0;
        justify-content:center;
        flex-direction:column;
    }
    #ai {
        min-width:50vw;
        align-self:center;
    }
    h2, p{
        width:90vw;
    }
    p {
        font-size:1rem;
    }
    #text-section {
        width:100%;
    }
    #text {
        width:100%;
        font-size:1rem;
        margin:2em 0 0;
    }
    .navi_index {
        font-size:1.5rem;
        padding:0.25rem;
    }
    #navi-grand ul {
        flex-direction:column;
    }
    #navi-grand li::before {
        content:"~>";
    }
}
