/*style sur tous les éléments par défaut*/
:root {
    font-size:18px;
    overflow-x:hidden;
    background:#e1edf0;
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1, p {
    font-family:'Merriweather', serif;
}
span.itallique {
    font-style:italic;
    font-weight:700;
}

#monNav {
    display:none;
    height:3rem;
    position:absolute;
    top:4rem;
    width:100vw;
}
#monNav li {
    float:left;
    list-style:none;
    font-size:1.25rem;
    border:1px #0a1128 solid;

}
#monNav a {
    padding:0.75rem;

}
#monNav ul, #monNav li, #monNav a {
    height:100%;

}
header {
    border-bottom:0.5rem #0a1128 solid;
    background:#c3dee5;
    background:#e1edf0;
}
header h1 {
    padding: 0.5rem 1rem;
    display:inline-block;
    color:#0a1128;
}
header button {
    float:right;
    font-size:2rem;
    text-decoration:none;
    color:black;
    margin:0 1rem;
    display:flex;
    align-items:center;
}

header button:hover {
    animation: 0.5s linear 0s 1 weee;
}
main {
    font-size:1.5rem;
    width:calc(98vw-2rem);
    border:#0a1128 solid 0.5rem;
    border-top:none;
    margin:0 1vw;
    padding:0 7.5rem;
    padding-top:1rem;
    color:#fefcfb;
    background:linear-gradient(90deg,
    #05183e,
    #071739,
    #0a1128,
    #090f24,
    #080e21,
    #090f24,
    #0a1128,
    #071739,
    #05183e
    );
}
main p {
    text-align: justify;
    text-justify: inter-word;

}
.citation {
    background:#e1edf0;
    color:#071739;
    display:flex;
    align-items:center;
    height:25vh;
    width:50vw;
    margin: 1rem auto;
    padding: 0.5rem;
}
.citation span {
    text-align:center;
    font-size:1.5rem;
    margin:auto;
}
.citation span:before {
    font-size:2rem;
    font-weight:700;
    content:"\201c";
}
.citation span:after {
    font-size:2rem;
    font-weight:700;
    content:"\201d";
}
nav {
    background:#eeeeee;
}
@keyframes weee {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
#btnNav {
    position:absolute;
    right:1rem;
    top:1rem;
    background:#000;
    border:none;
    padding:5px;
    cursor:pointer;
}
