.parallelogram {
    width: 60vw;
    height: 60vh;
    transform: skew(15deg);
    background: black;
    margin:1rem;
}
.parallelogram > span {
    display:flex;
    flex-direction:row;
    transform: skew(-15deg);
    height:100%;
    margin-top:-2rem;
}
.parallelogram > span > span {
    width:50%;
    margin-left:1rem;
}
.parallelogram h1 {
    color:white;
    font-weight:1000;
    transform: skew(-15deg) rotate(75deg);
    position:relative;
}
#commaai {
    top: 35vh;
    background:#3a86ff;
}
#commaai > span {
    margin-left:calc(0.25*30vh);
    height:80%;
    display:flex;
}
#commaai h1 {
    top:100%;
    right:-50%;
}
#george {
    height:100%;
}
/* Lorsque l'écran devient plus que 50em * 16px/em = 800px de large, on réajuste */
@media only screen and (max-width:50em) {
    .parallelogram {
        width:70vw;
    }
    #george {
        height:40vh;
    }
}
